.contact-container {
    max-width: 800px;
    margin-top: 80px;
}
.contact-header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    border-radius: 5px;
}
.contact-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.navbar-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navbar-nav .nav-link {
    color: rgb(0, 0, 0) !important;
    padding: 10px 15px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    margin-left: 15px; 
}
.navbar-nav .nav-link:last-child {
    margin-right: 0; /
}
.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: rgb(0, 0, 0) !important;
}
.navbar-brand {
    color: black;
}
.navbar-brand {
    color: black;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold; 
}

.footers-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}